.card__column-icon-deadline {
  background-image: url(../../../images/content-block-deadline.svg);
  width: 16px;
  height: 22px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  margin-right: 12px;
}
