.card__button-submit_type_result-done {
  width: 176px;
  margin-top: 32px;
  background-image: url(../../../../images/logo-test-button-retake-orange.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 16% 45%;
  text-align: end;
}
