.sidebar__icon-lesson {
  background-image: url("../../../images/lesson.svg");
  width: 16px;
  height: 20px;
  display: inline-block;
  margin-right: 12px;
  background-size: contain;
  background-repeat: no-repeat;
}
