.action-panel__button {
    max-width: 184px;
    padding: 12px 0;
    background-color: #FF6600;
    border-radius: 16px;
    width: 100%;

    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
    color: #FFF;
    text-align: center;

   margin-left: 24px;
}