.sidebar__button-close-element {
  background-image: url(../../../images/sidebar_close-option.svg);
  width: 11px;
  height: 6px;
  padding: 14px 0 0 44px;
  border: none;
  background-position: center;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
}

.sidebar__button-close-element_opened {
  transform: rotate(180deg);
}
